@import "theme.css";
@import "./sections/header.css";
@import "./sections/about-me.css";
@import "./sections/projects.css";
@import "./sections/footer.css";
@import "./sections/skills.css";
@import "./sections/responsive.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p-letter-spacing);
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1536px;
  padding: 0 2rem;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.section__title {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
  color: var(--p-950);
  text-transform: capitalize;
}

.section__description {
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}
