.aboutMe__section {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
  position: relative;

  & img{
    position: absolute;
    width: 300px;
    height: auto;
  }

  & img:nth-child(1){
    top: -20%;
    left: 1%;
    z-index: -10;
    animation: float 5s ease-in-out infinite;
  }
  & img:nth-child(2){
    bottom: -30%;
    right: 3%;
    animation: float 7s ease-in-out infinite;
    
  }
}

.aboutMe__container {
  width: 70%;
  padding: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
  border-radius: 3rem;
}

.aboutMe__content--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3rem;
  padding: 3rem 18px;
  gap: 28px;

  & p {
    color: var(--n-600);
  }

  & .CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    gap: 20px;

    & a {
      padding: 12px 12px;
      width: 240px;
      max-width: 80%;
      border-radius: 8px;
      cursor: pointer;
      text-align: center;
    }
  }
}

span{
  font-weight: bold;
}

.primaryButton {
  color: white;
  background-color: var(--p-600);

  &:hover {
    background-color: var(--p-700);
    box-shadow: 0px 4px 8px hsla(var(--p-700) 0.3),
      0 2px 4px hsla(var(--p-700-code), 0.5);
  }
}

.outlineButton {
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;
  &:hover {
    box-shadow: 0 4px 8px hsla(var(--p-900-code),0.1), 0 2px 4px hsla(var(--p-900-code), 0.3) ;
}


