@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes scrollLeftIcons {
  to {
    transform: translateX(calc(-100% - 12px));
  }
}

@keyframes scrollRightIcons {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(calc(0% + 12px));
  }
}
