.footer__section {
  background: var(--foreground-color);
  color: var(--n-700);
  padding: 20px 0 20px 0;
  border-top: 1px solid hsla(var(--p-700-code), 0.1);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 48px;
  align-items: start;
  text-align: center;
  width: 90%;
  margin: 0 auto;

  & h3 {
    font-size: 1.75rem;
    color: var(--p-900);
    margin-bottom: 8px;
    font-weight: 500;
  }

  & p {
    font-size: var(--h4-font-size);
    color: var(--n-500);
  }
}

.footer__brand .footer__contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact li {
  margin: 6px 0;
}

.footer__contact a {
  color: var(--p-700);
  text-decoration: none;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer__icons img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.footer__icons img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 0.9rem;
  color: var(--n-500);
  border-top: 1px solid hsla(var(--p-700-code), 0.1);
}
