header {
  margin-top: 40px;
}

.header__container {
  display: flex;
  gap: 40px;

  & p {
    color: var(--n-600);
  }

  & spand {
    color: var(--p-600);
    font-weight: 600;
  }
}

.header__title {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
}

.header__col--left {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;

  & .header__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../../assets/my-wallpaper-01.jpg);
    background-position: center;
    background-size: 120%;
    box-shadow: inset 0px -1px 1px hsla(0, 1%, 34%, 0.2),
      0 4px 6px -1px hsla(0, 0%, 0%, 0.2);
  }

  & .header__content--left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .header__badge_container {
    display: flex;
    gap: 6px;
    text-align: center;
  }

  & .badge {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    color: var(--p-950);
    padding: 4px 12px;
    background-color: var(--p-50);
    border-radius: 4px;
    /* line clamp */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}

.header__col--right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
}

/* Xong phần header */
