.projects_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects__cards_container {
  display: grid;
  margin: 0 auto;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
  grid-gap: 48px;
  justify-content: center;
  align-content: center;
}

.project_cards {
  border: 1px solid hsla(var(--p-700-code), 0.1);
  border-radius: 24px;
  background: var(--foreground-color);
  overflow: clip;
  box-shadow: 1px 4px 6px -1px hsla(var(--p-950-code), 0.1),
    1px 4px 6px -3px hsla(var(--p-950-code), 0.1);
  transition: transform 0.3s ease;

  &:hover {
    box-shadow: 0 15px 40px hsla(var(--p-950-code), 0.2);
    transform: scale(1.1);
  }
}

.projects__cards_wrapper {
  background: hsla(var(--p-700-code), 0.1);
  padding: 28px;
  border-start-start-radius: 0.25rem;
}

.project__cards_img {
  width: 284px;
  height: 284px;
  object-fit: cover;
  border-radius: 24px;
  transition: transform 0.5s easy-in-out;
  &:hover {
    transform: scale(1.15);
  }
}

.project__cards_titles {
  display: flex;
  flex-direction: column;
  padding: 28px 32px;
  gap: 4px;

  & h4 {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    text-transform: uppercase;
    color: var(--n-500);

    & h3 {
      font-size: var(--h3-font-size);
      line-height: var(--h3-line-height);
      font-weight: 700;
      text-transform: capitalize;
      color: var(--p-900);
      /* line clamp */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
