/*---------------------------*/
/* ------- DESKTOP -------- */
@media (max-width: 1536px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1028px;
  }
}

/* ------- LAPTOP -------- */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  /** Header **/
  .header__container {
    flex-direction: column;
  }

  .header__col--left {
    flex-direction: column;
    align-items: center;

    & .header__img {
      width: 100px;
      height: 100px;
    }
  }

  .header__content--left {
    align-items: center;

    & p {
      text-align: center;
      max-width: 320px;
    }
  }

  .header__col--right {
    text-align: center;
    align-items: center;
  }

  /* SKILL */
  .softSkills_badge {
    position: static !important;
    transform: none !important;
  }
  .softSkills_book_icons {
    display: none;
  }
}

/*==========================================*/

/* ------- BIG TABLET -------- */
@media (max-width: 850px) {
  .container {
    max-width: 768px;
  }
  /* Giới thiệu bản thân */
  .aboutMe__section {
    margin: 80px auto;
    & img {
      display: none;
    }
  }

  /* SKILL */
  .skills__grid_container {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    grid-auto-rows: minmax(280px, auto);

    & .skills__grid_item {
      padding: 1rem 1rem;
      grid-column: span 1 !important;
      grid-row: span 1 !important;
    }
  }
}

/*==========================================*/

/* ------- SMALL TABLETt -------- */
@media (max-width: 640px) {
  :root {
    font-size: 14px;
    line-height: 16px;
  }
  .container {
    max-width: 475px;
    padding: 0.1 ren;
  }
  /* header */
  header {
    margin-top: 20px;
  }

  .header_badge_container {
    flex-direction: column;
  }
}

/*==========================================*/

/* ------- SMART PHONE -------- */
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  .header__container {
    & .header__col--left {
      & .header__img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .header__content--left {
    width: 220px;
  }

  .header__badge_container {
    flex-direction: column;
  }

  .aboutMe__container {
    padding: 1rem;
    width: 85%;
    border-radius: 2rem;
  }
  .aboutMe__content--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    gap: 18px;
  }
}

/*==========================================*/
